
run = "cd packages/python-sdk && python -m pytest tests/"
modules = ["python-3.11:v18-20230807-322e88b"]

[nix]
channel = "stable-24_05"

[languages]
[languages.python]
pattern = "**/*.py"
syntax = "python"
languageServer = "python"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"
